.header{
	font-size: 20px;
	line-height: 1.5;
	margin: 20px auto;
}
.section{
	padding: 30px 0px;
}
span{
	display: block;
}
.row{
	margin-top: 15px;
}
.form-header, .section-header{
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 20px;
}
.form{
	border: 5px solid #2727d9;
	padding: 30px
}
.form-control{
	margin-top: 10px;
	margin-bottom: 10px;
}
button.btn-primary{
	background-color: #2727d9;
}
.feature{
	margin-top: 60px;
}
a p{
	color: #000;
	margin-top: 10px;
}
a p:hover{
	text-decoration: none;
	color: #000;
}
.feature p{
	margin-top: 10px;
}
button.center{
	display: block;
	margin: 60px auto;
}
.video{
	margin-bottom: 30px;
}
/*.col-4, .col-8, .col, .col-lg-8, .col-12, .col-lg-4, .col-12, .col-md-4, .offset-md-4, .col-md-6, .col-md-5, .offset-md-1, .col-md-9, .col-md-2{
	border: 2px solid #636e72;
	margin-top: 10px;
	background-color: #dfe6e9;
}*/